header: .page-width

    a.logo(href='/')

    ul.nav.nav-left

        li: a(href='/challenges', ng-class='{ active: basePath === "challenge" || basePath === "challenges" }')
            i.icon-menu
            |  Challenges

        li: a(href='/playground', ng-class='{ active: basePath === "playground" }')
            i.icon-game
            |  Playground
